<footer>
  <p>Questo sito è stato creato da Leonardo Colombini nell'ambito della Frontend Challenge by <a href="https://www.geckosoft.it/">Geckosoft</a>.</p>
  <p>Contatti: <a class="contatti" href="mailto:colombinileonardo27@gmail.com">Email</a>,  <a class="contatti" href="https://www.linkedin.com/in/leonardo-colombini-169538242/">Linkedin</a>, <a href class="contatti" href="https://github.com/colombini41">GitHub</a>, <a class="contatti" href="https://www.facebook.com/leocolo98">Facebook</a>, <a class="contatti" href="https://www.instagram.com/leostrain/">Instagram</a>.
  </p>
</footer>
